.logo {
    text-align: center;
    width: 200px;
    height: 50px;
    border: 2px solid #cddc39;
    border-radius: 50px;
    border-radius: 1;
}

.tabs-section {
    overflow: hidden;
    background-color: #333;
    padding: 60px 0px;
}

.tabs-section .feature-img {
    max-height: 255px;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid #fff;
}

.tabs-section .nav-tabs {
    border: 0;
}

.tabs-section .nav-link {
    border: 0;
    padding: 11px 15px;
    transition: 0.3s;
    color: #fff;
    border-radius: 0;
    /* border-right: 2px solid #cddc39 !important; */
    font-weight: 600;
    font-size: 15px;
}

.tabs-section .nav-link:hover {
    color: #cddc39;
}

.tabs-section .nav-link.active {
    color: #333333;
    background: #cddc39;
}

.tabs-section .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}

.tabs-section .details h3 {
    font-size: 26px;
    color: #cddc39;
}

.tabs-section .details p {
    color: #aaaaaa;
}

.tab-content {
    margin-top: 80px;
}

table {
    width: 98%;
}

table,
th,
td {
    border: 2px solid #cddc39;
    border-collapse: collapse;
    color: #cddc39;
}

td {
    color: #fff;
}

th {
    padding: 15px 15px 30px 15px;
}
td {
    padding: 10px 10px 20px 10px;
}

.btn {
    border: 2px solid #cddc39;
    background-color: #cddc39;
    font-weight: 500;
    color: #333 !important;
}

.btn:hover {
    background-color: #cddc39 !important;
    border-color: #cddc39 !important;
    color: white !important;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

ul {
    border-right: 2px solid #cddc39 !important;
}

.modal-content {
    background-color: #333333 !important;
}

.modal-dialog {
    max-width: 800px !important;
}

.google {
    background-color: #c82333;
    border-color: #bd2130;
    color: white !important;
}

.google:hover {
    background-color: #fff !important;
    color: #bd2130 !important;
}

.google:focus {
    outline: none !important;
    box-shadow: none !important;
}

.facebook {
    background-color: #3b5998 !important;
    border-color: #3b5998;
    color: white !important;
}

.facebook:focus {
    outline: none !important;
    box-shadow: none !important;
}

.facebook:hover {
    background-color: #fff !important;
    color: #3b5998 !important;
}

textarea.form-control {
    height: 200px !important;
}

.btn_reset {
    background-color: #3b5998 !important;
    border-color: #3b5998 !important;
    color: #fff !important;
}

.btn_remove {
    background-color: #c82333 !important;
    border-color: #c82333 !important;
    color: #fff !important;
}

.btn_edit {
    background-color: #aaaaaa !important;
    border-color: #aaaaaa !important;
    color: #fff !important;
}